<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.wf.first.app.mapper.UserMapper">
    <resultMap id="BaseResultMap" type="com.wf.first.app.pojo.User">
        <id column="id" property="id"/>
        <result column="user_name" property="userName"/>
        <result column="password" property="password"/>
        <result column="password" property="email"/>
        <result column="avatar_url" property="avatarUrl"/>
        <result column="gmt_create" property="gmtCreate"/>
        <result column="gmt_modified" property="gmtModified"/>
        <result column="creator" property="creator"/>
        <result column="modifier" property="modifier"/>
        <result column="role_id" property="roleId"/>
        <result column="is_admin" property="isAdmin"/>
    </resultMap>
    <select id="listUser" resultType="com.wf.first.app.vo.UserVO">
        SELECT
            a.id,
            a.user_name AS userName,
            a.is_deleted AS isDeleted,
            c.id AS regionId,
            c.region,
            b.role_name AS roleName
        FROM
            user a
                LEFT JOIN
            role b ON a.role_id = b.id
                LEFT JOIN
            region c ON a.region_id = c.id
        <where>
            <if test="regionId != null">
                and c.id = #{regionId}
            </if>
            <if test="userName != null and userName != ''">
                and a.user_name like concat('%', #{userName} + '%')
            </if>
            <if test="isDeleted != null">
                and a.is_deleted = #{isDeleted}
            </if>
            <if test="roleName != null and roleName != ''">
                and b.role_name like concat('%',#{roleName}, '%')
            </if>
        </where>
        order by a.gmt_create desc
    </select>
</mapper>
